.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background-color: #fff;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  text-align: center;
}

body, #root, .page-wrapper {
  height: 100%;
  background-color: #fcfcfc;
}

.google-search-autocomplete {

  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 750px;
  position: relative;
}

.btn:hover {
  background-color: #e53935;
  border-color: #e53935;
}

.Demo__github-icon {
  font-size: 24px;
}

.Demo__github-link {
  color: #262626;
  font-size: 20px;
}

.Demo__github-link:hover,
.Demo__github-link:active {
  color: #4078c0;
  text-decoration: none;
}

.Demo__suggestion-icon {
  margin-right: 8px;
}

.Demo__spinner {
  margin-bottom: 21px;
  padding: 10px;
}

.fa.fa-map-marker.header {
  color: #e53935;
}

.google-search-input,
.google-search-input:focus,
.google-search-input:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: honeydew;
  display: block;
  width: 95%;
  padding: 16px;
  font-size: 16px;
  border-radius: 2px;
  outline: none;

}

.google-search-autocomplete-container {
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 2px 2px;
  z-index: 100;
  width: 100%;
  position: absolute;
}

.Demo__suggestion-item {
  padding: 4px;
  text-align: left;
}

.Demo__spinner {
  color: #18bc9c;
  font-size: 30px;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }

}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

.fa-3x {
  font-size: 3em;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 30px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-spinner:before {
  content: "\f110";
}

@font-face {
  font-family: 'FontAwesome';
  src: url('./fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('./fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('./fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('./fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('./fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('./fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 480px) {
  .autocomplete-container {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .alert {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    -webkit-animation: fadein .75s;
    -moz-animation: fadein .75s;
    -ms-animation: fadein .75s;
    -o-animation: fadein .75s;
    animation: fadein .75s;
  }

  .btn {
    margin-top: 1.5rem;
  }

  .google-search-autocomplete-root {
    display: inline-block;
    width: 100%;
    margin: 10px auto 15px;
    position: relative;
  }
}

.geocoding-results {
  width: 95%;
  min-height: 50px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.alert-success {
  background-color: #18bc9c;
  border-color: #18bc9c;
  color: #ffffff;
}

.alert-danger {
  background-color: #e53935;
  border-color: #e53985;
  color: #ffffff;
}

.alert {
  padding: 15px;
  margin-bottom: 21px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.map-container {
  width: 500px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  float: right;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.circularProgressbar-wrapper {
  float: left;
  width: 200px;
}

.CircularProgressbar {
  width: 170px;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: central;
  text-anchor: middle;
}

.air-quality-index-footer, .air-quality-index-title {
  margin: 15px 5px;
}

.map-and-quility-index-container {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 750px;
  height: 300px;
}

.clearBoth {
  clear: both;
}

.air-quality-recommendations {
  text-align: left;
  padding: 15px 5px;
  font-size: 15px;
  font-weight: normal;
  float: left;
}

.air-quality-color-container {
  position: relative;
}

.air-quality-color-text {
  float: left;
  margin-left: 20px;
  line-height: 22px;
}

.air-quality-color {
  float: left;
  height: 22px;
  width: 22px;
  margin-left: 20px;
  border: 1px solid black;
}

.history-chart-container {
  display:inline-block;
}

.air-quality-meter-widget {
  float: left;
  margin: 20px;
}

.recharts-cartesian-axis-ticks, .recharts-cartesian-axis-ticks {
  font-size: 15px;
}